.container{
    height: 95vh;
    box-sizing: border-bo;
    
    
    background-image: linear-gradient(to right bottom,rgba(133, 222, 255, 0.5), rgba(40, 180, 133, 0.5)), url(../images/bg.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 90%);
    /* display: flex; */
    position: relative;

}
.us{
    position: absolute;
    top: 50%;
    text-decoration: underline;
}
.main-area{
    font-family: cursive;
    color: cyan;
    font-size: 40px;
    position: absolute;
    top: 26%;
    left: 26%;
}

.form{
    color: #fff;
   position: absolute;
   top: 30%;
   left: 50%;
  
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.your-meassage{
    position: absolute;
    top: 120%;
    left: -20%;

}
#meassage{
    position: absolute;
    top: 120%;
    left: 0%;
}


#submit{
    border-radius: 500px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px;
    display: inline-block;
    border-radius: 1000rem;
    transition: all .2s;
    
    font-size: 1rem;
}
#submit:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.2);
}
#submit:active{
    transform: translateY(-0.1rem);
    box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.2);
}
#submit{
    position: absolute;
    top: 255%;
    left: 30%;
}
.btn{
    background-color: rgb(132, 175, 213);
    color: #fff;
}
@media (max-width:500px){
    .us{
        position: absolute;
        top: 50%;
        text-decoration: underline;
    }
    .main-area{
        font-family: cursive;
        color: cyan;
        font-size: 40px;
        position: absolute;
        top: 5%;
        left: 26%;
    }
    .form{
        color: #fff;
       position: absolute;
       top: 30%;
       left: 20%;
      
    }
    .container{
        height: 120vh;
    }
}