/* .container{height: 100vh;
    
background-image: linear-gradient(to right bottom,rgba(133, 222, 255, 0.789), rgba(40, 180, 133, 0.802)), url(../images/bg.jpg);
background-size: cover;
background-position: top;
clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 90%);
display: flex;

} */
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    padding:20px;
    font-family: "lato",sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #fff; 
 
}

.container{
    background-image: linear-gradient(to right bottom,rgba(133, 222, 255, 0.789), rgba(40, 180, 133, 0.802)), url(../images/bg.jpg);
    height: 125vh;
    background-size: cover;
    background-position: top;
}

th{
    background-color:black;
}

@media (min-width:900px){
    body{
        clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 90%);
        background-size: cover;
background-position: top;
height: 95vh;
    }
    .table-container{
        display: flex;
        justify-content: space-between;
    }
    
.table1{
    flex: 1;
    text-align: center;
    margin-top: 100px;
    background-color: rgba(105, 147, 165, 0.755);
    margin-right: 10px;
   margin-left: 10px;

}
.table2{
 flex: 1;
 text-align: center;
 margin-top: 100px;
 background-color: hsla(198, 25%, 53%, 0.755);
 margin-right: 10px;

}
.table3{
  flex: 1;
  text-align: center;
  margin-top: 100px;
  background-color: hsla(198, 25%, 53%, 0.755);
  margin-right: 10px;
 
}
.save{
    margin-top:350px;
    position: absolute;
    left: 650px;
}
.save2{
    margin-top:350px;
    position: absolute;
    left: 1090px;
}
.save3{
    margin-top:350px;
    position: absolute;
    left: 220px;
}



#basic{
    border-radius: 500px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px;
    display: inline-block;
    border-radius: 1000rem;
    transition: all .2s;
    
    font-size: 1rem;
}
#basic:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.2);
}
#basic:active{
    transform: translateY(-0.1rem);
    box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.2);
}

    
}
@media (max-width:500px){
      .container{
          height: 180vh;

        font-size: 20px;
      }


    .table1{
        
       margin-left: 150px;
       text-align: center;
       background-color: rgba(105, 147, 165, 0.755);
    }
    .save{
        margin-left: 200px;
    }
    .table2{
        margin-left: 150px;
        text-align: center;
        background-color: rgba(105, 147, 165, 0.755);
    }
    .save2{
        margin-left: 200px;
    }
    .table3{
        margin-left: 150px;
        text-align: center;
        background-color: rgba(105, 147, 165, 0.755);
    }
    .save3{
        margin-left: 220px;
    }
    
#basic{
    border-radius: 500px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1px 1px;
    display: inline-block;
    border-radius: 1000rem;
    transition: all .2s;
    margin-bottom: 10px;
    
    font-size: 1rem;
}
#basic:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.2);
}
#basic:active{
    transform: translateY(-0.1rem);
    box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.2);
}
}
